PUT /v2/{CALL_EXTERNAL|syntribos.extensions.random_data.client:get_uuid:[]|}/qos-specs/{CALL_EXTERNAL|syntribos.extensions.random_data.client:get_uuid:[]|}/delete_keys HTTP/1.1
Accept: application/json
Content-type: application/json
X-Auth-Token: CALL_EXTERNAL|syntribos.extensions.identity.client:get_scoped_token_v3:["user"]|

{
    "keys": [
        "key1"
    ]
}
