GET /v2.0/routers/{router_id:CALL_EXTERNAL|syntribos.extensions.neutron.client:get_router_id:[]|} HTTP/1.1
Accept: application/json
X-Auth-Token: CALL_EXTERNAL|syntribos.extensions.identity.client:get_scoped_token_v3:["user"]|
