GET /v2.0/lbaas/loadbalancers/{lb_id:3349cf08-a20f-42de-a605-340059523b7} HTTP/1.1
Accept: application/json
X-Auth-Token: CALL_EXTERNAL|syntribos.extensions.identity.client:get_scoped_token_v3:["user"]|
