GET /v2.1/os-hosts/{CALL_EXTERNAL|syntribos.extensions.random_data.client:get_uuid:[]|} HTTP/1.1
Accept: application/json
X-Auth-Token: CALL_EXTERNAL|syntribos.extensions.identity.client:get_scoped_token_v3:["user"]|
