POST /v2.0/vpn/ipsecpolicies HTTP/1.1
Accept: application/json
Content-type: application/json
X-Auth-Token: CALL_EXTERNAL|syntribos.extensions.identity.client:get_scoped_token_v3:["user"]|

{
 "ipsecpolicy": {
        "name": "ipsecpolicy1",
        "transform_protocol": "esp",
        "auth_algorithm": "sha1",
        "encapsulation_mode": "tunnel",
        "encryption_algorithm": "aes-128",
        "pfs": "group5",
    "lifetime": {
            "units": "seconds",
            "value": 7200
}

}

}
