DELETE /v2.1/os-quota-sets/{tenant_id:3aae1cc6-ceb9-44d6-a441-46fc016423a3}?user_id=x HTTP/1.1
Accept: application/json
X-Auth-Token: CALL_EXTERNAL|syntribos.extensions.identity.client:get_scoped_token_v3:["user"]|
