PUT /v2.0/subnetpools/{subnet_pool_id:0ffd248c55b443eaac5253b4e9cbf9b5} HTTP/1.1
Accept: application/json
Content-type: application/json
X-Auth-Token: CALL_EXTERNAL|syntribos.extensions.identity.client:get_scoped_token_v3:["user"]|

{
    "subnetpool": {
        "name": "my-new-subnetpool-name",
      "prefixes": [
            "2001:db8::/64",
            "2001:db8:0:1::/64",
            "2001:db8:0:2::/64"
      ],
        "min_prefixlen": 64,
        "default_prefixlen": 64,
        "max_prefixlen": 64

  }

}