DELETE /v2.0/flavors/{flavor_id:0ffd248c55b443eaac5253b4e9cbf9b5}/service_profiles/{service_id:0426ac1e48f642ef9544c2251e07e261} HTTP/1.1
Accept: application/json
X-Auth-Token: CALL_EXTERNAL|syntribos.extensions.identity.client:get_scoped_token_v3:["user"]|