POST /v2.0/networks HTTP/1.1
Accept: application/json
Content-type: application/json
X-Auth-Token: CALL_EXTERNAL|syntribos.extensions.identity.client:get_scoped_token_v3:["user"]|

{
    "network": {
        "name": "simple_network",
        "admin_state_up": true,
    "vlan_transparent": true
    }
}