PATCH /v3/domains/{c45412aa3cb74824a222c2f051bd62ac} HTTP/1.1
Accept: application/json
X-Auth-Token: CALL_EXTERNAL|syntribos.extensions.identity.client:get_token_v3:["user"]|
Content-type: application/json

{
    "domain": {
        "description": "Domain description",
        "enabled": true,
        "name": "user"
    }
}
