[syntribos]
endpoint=<yourapiendpoint>
#version=v2    # used for cross auth tests (-t AUTH_WITH_SOMEONE_ELSE_TOKEN)

[user]
username=<yourusername>
password=<yourpassword>
user_id=<youruserid>

# used for cross auth tests (-t AUTH_WITH_SOMEONE_ELSE_TOKEN)
#[alt_user]
#username=<alt_username>
#password=<alt_password>
#user_id=<alt_userid>

[auth]
endpoint=<yourkeystoneurl>
