POST /v1/{account:CALL_EXTERNAL|syntribos.extensions.random_data.client:get_uuid:[]|}/{container:CALL_EXTERNAL|syntribos.extensions.random_data.client:get_uuid:[]|}/{object:CALL_EXTERNAL|syntribos.extensions.random_data.client:get_uuid:[]|} HTTP/1.1
Accept: text/html
X-Auth-Token:CALL_EXTERNAL|syntribos.extensions.identity.client:get_scoped_token_v3:["user"]|
X-Object-Meta-Book:CALL_EXTERNAL|syntribos.extensions.random_data.client:get_uuid:[]|

